@using Products.WebModel.Resources.Common
@model Products.WebModel.ViewModels.Energy.PersonalDetailsViewModel
@{
    ViewBag.Title = PersonalDetailsCommon_Resources.EnergyPageTitle;
}

@section ShoppingBasketToggler {
    @Html.Partial("_ShoppingBasketToggler", Model.ShoppingBasketViewModel)
}

<div class="container">
    @Html.Partial("_BackChevronWithStepCounter", Model.BackChevronViewModel)

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
            <h1>@PersonalDetailsCommon_Resources.Header</h1>
            <a href="@PersonalDetailsCommon_Resources.PrivacyLinkUrl" target="_blank" title="@PersonalDetailsCommon_Resources.PrivacyLinkAlt">@PersonalDetailsCommon_Resources.PrivacyLinkText</a>
            @using (Html.BeginForm("PersonalDetails", "SignUp", FormMethod.Post, new { id = "PersonalDetailsForm", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.IsScottishPostcode)
                <div class="form-group form-group--dropdown contain gap-top-xl">
                    @Html.LabelFor(model => model.Titles, new { @class = "form-label" })
                    @Html.EditorFor(model => model.Titles, "AriaEnumDropDownList")
                    @Html.ValidationMessageFor(m => m.Titles)
                </div>
                @Html.EditorFor(m => m.FirstName)
                @Html.EditorFor(m => m.LastName)

                <div class="form-group form-group--dropdown contain">
                    @Html.LabelFor(model => model.DateOfBirth, new { @class = "form-label" })
                    @Html.HiddenFor(m => m.DateOfBirth)
                    <label class="hidden">day</label>
                    @Html.EditorFor(m => m.DateOfBirthDay, "MultipleInputElement", new { @class = "form-input date-of-birth number dd", placeholder = "dd" })
                    <label class="hidden">month</label>
                    @Html.EditorFor(m => m.DateOfBirthMonth, "MultipleInputElement", new { @class = "form-input date-of-birth number dd", placeholder = "mm" })
                    <label class="hidden">year</label>
                    @Html.EditorFor(m => m.DateOfBirthYear, "MultipleInputElement", new { @class = "form-input date-of-birth number yy", placeholder = "yyyy" })
                    @Html.ValidationMessageFor(m => m.DateOfBirth)
                </div>
                <div class="form-group">
                    <input class="button button-primary" type="submit" value="@Resources.ButtonNextText" id="button-submit" name="button-submit" title="@Model.OkNextAccessibilityText" />
                </div>
            }
        </div>
        @Html.Partial("_Basket")
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/js/products/personal-details")
    @Scripts.Render("~/js/products/energy/basket")
    @Scripts.Render("~/js/products/energy/extras")
    <script>
        $(function () {
            window.attachNumberOnly($('.number'));
            // ReSharper disable once UnusedLocals
            var personalDetails = new Digital.Web.Common.PersonalDetails(window.moment);
            var basketConfig = new Digital.Web.Energy.BasketConfig("/energy-signup/update-your-price", "/energy-signup/personal-details", true);
            var basket = new Digital.Web.Energy.Basket(basketConfig);
        });
    </script>
}