@using Products.WebModel.Resources.TariffChange
@{
    ViewBag.Title = Fallout_Resources.AccountInelegibleTitle;
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>@Fallout_Resources.AccountInelegibleHeader</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-11 col-md-8 gap">
            <p>@Fallout_Resources.PhonePrefix<a id="telephone-link" href="@Fallout_Resources.LinkPhoneURL" title="@Fallout_Resources.LinkPhoneAlt">@Fallout_Resources.LinkPhoneText</a>@Fallout_Resources.PhoneSuffix</p><br />
            <p><a id="hearing-loss-link" href="@Fallout_Resources.LinkGettingInTouchURL" title="@Fallout_Resources.LinkGettingInTouchAlt" target="_blank">@Fallout_Resources.LinkGettingInTouch</a>@Fallout_Resources.GettingInTouchSuffix</p>
        </div>
    </div>
</div>