@using Products.WebModel.Resources.HomeServices
@{
    ViewBag.Title = Fallout_Resources.AreaNotCoveredTitle;
}
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@Fallout_Resources.AreaNotCoveredHeader</h1>
            </div>
            <div class="col-md-12 gap">
                <p class="gap">@Fallout_Resources.AreaNotCoveredBody</p>
                <a id="back-to-home-link" class="button button-primary" href="@System.Configuration.ConfigurationManager.AppSettings["LinkBackToHomeURL"]" title="@Fallout_Resources.AreaNotCoveredAltText">
                    @Fallout_Resources.AreaNotCoveredLinkText
                </a>
            </div>
        </div>
    </div>
</div>