@using Products.WebModel.Resources.Energy

<div class="accordion" role="group">
    <div class="accordion-header">
        <a href="#" title="@Accordion_Resources.SwitchFAQSubHeaderNonPrePay4Alt_Energy" class="accordion-button" role="button" aria-controls="accordion-content">
            <h2>@Accordion_Resources.SwitchFAQSubHeaderNonPrePay4_Energy</h2>
        </a>
    </div>
    @* ReSharper disable once Html.IdDuplication *@
    <div class="accordion-content" aria-hidden="true" style="display: none;" id="accordion-content">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <p>@Accordion_Resources.SwitchFAQSubHeaderNonPrePay4Para_Energy</p>
            </div>
        </div>
    </div>
</div>
<div class="accordion" role="group">
    <div class="accordion-header">
        <a href="#" title="@Accordion_Resources.SwitchFAQSubHeaderNonPrePay5Alt_Energy" class="accordion-button" role="button" aria-controls="accordion-content">
            <h2>@Accordion_Resources.SwitchFAQSubHeaderNonPrePay5_Energy</h2>
        </a>
    </div>
    @* ReSharper disable once Html.IdDuplication *@
    <div class="accordion-content" aria-hidden="true" style="display: none;" id="accordion-content">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <p>@Accordion_Resources.SwitchFAQSubHeaderNonPrePay5Para_Energy</p>
            </div>
        </div>
    </div>
</div>