@using Products.WebModel.Resources.Common
@using Products.WebModel.Resources.Energy
@model Products.WebModel.ViewModels.Energy.SelectMeterTypeViewModel
@{
    ViewBag.Title = MeterType_Resources.Title;
}

<div class="container">
    @Html.Partial("_BackChevronWithStepCounter", Model.BackChevronViewModel)

    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <h1>@MeterType_Resources.Header</h1>
            <p>@MeterType_Resources.Paragraph</p>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <fieldset>
                    <legend class="sr-only"></legend>
                    @Html.EditorFor(m => m.MeterTypes)
                    @Html.ValidationMessageFor(m => m.SelectedElectricityMeterType)

                    <button type="submit" class="button button-primary" title="@Resources.ButtonNextSignUpEnergyAlt">@Resources.ButtonNextText</button>
                </fieldset>
            }
        </div>
    </div>
</div>