@using System.Configuration
@using Products.Web.Helpers
@{
    string gtmContainerId = ConfigurationManager.AppSettings["GoogleTagManagerContainerId"];
    HttpCookie cookieMessageCookie = Request.Cookies.Get("cookie-accepted");
    bool cookieAccepted = cookieMessageCookie != null && cookieMessageCookie.Value == "true";
}
<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/products/print")
    @RenderSection("Styles", false)
    @Html.Partial("_Favicons")
    <meta name="format-detection" content="telephone=yes">
    <meta name="robots" content="noindex,nofollow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script type="text/javascript" src="//service.maxymiser.net/api/eu/www.sse.co.uk/93e848/mmapi.js"></script>
    @RenderSection("DataLayer", false)
    
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','@gtmContainerId');</script>
</head>
<body>
    @if (!cookieAccepted)
    {
        @Html.Partial("_CookiesMessage")
    }
    <section class="main" role="main">
        @RenderBody()
    </section>
    @Scripts.Render("~/js/jquery-all")
    @Scripts.Render("~/js/core")
    @RenderSection("Popups", false)
    @RenderSection("Scripts", false)
    <script src="@Scripts.Url($"{WebClientHelper.Instance.BaseUrl}/licenses?v={WebClientHelper.Instance.Version}")"></script>
</body>
</html>
