@model WebSite.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 formLogin">
            <h1>Login to your account</h1>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 formLogin">
            @Html.LabelFor(m => m.Email)
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9 formLogin">
            @Html.EditorFor(m => m.Email)
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 formLogin">
            @Html.LabelFor(m => m.Password)
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9 formLogin">
            @Html.EditorFor(m => m.Password)
        </div>
    </div>
    <div class="row">
        <input class="button button-primary" type="submit" value=Login id="loginButton" />
    </div>
}


