@using Products.Web.Helpers
@model object
@{
    // Pass in htmlAttributes from the view using
    // @Html.EditorFor(m => m.Whatever, new { htmlAttributes = new { @class = "extra", foo = "bar" } })
    var defaultHtmlAttributesObject = new
    {
        title = ViewData.ModelMetadata.DisplayName,
        @class = "form-input form-input--text",
        autocomplete = "off"
    };
    object htmlAttributesObject = ViewData["htmlAttributes"] ?? new { };
    IDictionary<string, object> htmlAttributes = Html.MergeHtmlAttributes(htmlAttributesObject, defaultHtmlAttributesObject);
    htmlAttributes.Add("aria-required", ViewContext.ViewData.ModelMetadata.IsRequired);
    bool hasAriaDescription = false;
    if (ViewData.ModelMetadata.AdditionalValues.ContainsKey("AriaDescription"))
    {
        hasAriaDescription = true;
        htmlAttributes.Add("aria-describedby", $"{ViewData.ModelMetadata.PropertyName}-description");
    }
    string appendedText = ViewData["appendedText"]?.ToString();
}

<div class="form-group form-group--dropdown">
    @Html.LabelFor(m => m, new { @class = "form-label" })
    @Html.TextBoxFor(model => model, htmlAttributes)
    @Html.ValidationMessageFor(m => m)

    <label class="form-label" for="Titles_Value">Label for select ...</label>
    <select class="form-input form-input--dropdown" data-val="true" data-val-required="This field is required." id="Titles_Value" name="Titles.Value">
        <option value="">Please select</option>
        <option value="Mr">Mr</option>
        <option value="Mrs">Mrs</option>
        <option value="Miss">Miss</option>
        <option value="Ms">Ms</option>
        <option value="Mx">Mx</option>
        <option value="Dr">Dr</option>
        <option value="Rev">Rev</option>
    </select>
    @if (!string.IsNullOrEmpty(appendedText))
    {
        <span class="input-appended-text">@appendedText</span>
    }
    @if (hasAriaDescription)
    {
        <p id="@ViewData.ModelMetadata.PropertyName-description" class="sr-only">@ViewData.ModelMetadata.AdditionalValues["AriaDescription"]</p>
    }
</div>