@using Products.WebModel.Resources.TariffChange

@model  Products.WebModel.ViewModels.TariffChange.CreatePasswordViewModel
@{
    ViewBag.Title = CreatePassword_Resources.Title;
}
@section ProgressBar {
    @Html.Partial("_ProgressBar", Model.ProgressBarViewModel)
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>@CreatePassword_Resources.Heading</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5">
            <p class="gap">@CreatePassword_Resources.Intro</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7">
            <a href="javascript:void(0);" class="help" role="tooltip" aria-expanded="false" title="@CreatePassword_Resources.TooltipAlt">
                <span class="help__label">@CreatePassword_Resources.TooltipLabelText</span>
                <div class="help__message" aria-hidden="true">
                    <div class="help__arrow" aria-hidden="true">@CreatePassword_Resources.TooltipScreenReader</div>
                    <div class="help__box">
                        <div class="row" id="tooltip-content">
                            <div class="col-xs-12">
                                <ul class="bg-dark bullet-list list--spaced">
                                    <li>@CreatePassword_Resources.TooltipBullet1</li>
                                    <li>@CreatePassword_Resources.TooltipBullet2</li>
                                    <li>@CreatePassword_Resources.TooltipBullet3</li>
                                    <li>@CreatePassword_Resources.TooltipBullet4</li>
                                    <li>@CreatePassword_Resources.TooltipBullet5</li>
                                </ul>
                            </div>
                        </div>
                        <div class="help__close" title="Close window">Close</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 gap">
            @using (Html.BeginForm("CreateProfile", "CreatePassword", FormMethod.Post, new { @id = "OnlineAccountForm", @autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.EditorFor(m => m.Password)
                @Html.EditorFor(m => m.ConfirmPassword)
                
                <div class="additional-info">
                    <h2 class="h4-like">@CreatePassword_Resources.ListHeading</h2>
                    <ul class="bullet-list list--spaced">
                        <li>@CreatePassword_Resources.Bullet1</li>
                        <li>@CreatePassword_Resources.Bullet2</li>
                        <li>@CreatePassword_Resources.Bullet3</li>
                    </ul>
                </div>

                <div class="form-group">
                    <input class="button button-primary" type="submit" value="@CreatePassword_Resources.Button" id="btnSubmitRegForm" name="btnSubmitRegForm" title="@CreatePassword_Resources.ButtonAlt" />
                    @Html.ActionLink(@CreatePassword_Resources.CreateAccountLaterText, "TariffSummary", "Summary", new { }, new { id = "create-account-later-link", @class = "button button-secondary", title = @CreatePassword_Resources.CreateAccountLaterAlt })
                </div>
            }
        </div>
    </div>
</div>